:root{
    scroll-behavior: smooth;
  }
  
  .body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
  }
  
  .header{
    background-color: white;
    position: sticky;
    top: 0;
      box-shadow: 0 0.25rem 0.25rem 0 #20232a;
      z-index: 1;
      margin-bottom: 32px;
  }
  
  .header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 2rem;
    max-width: 1024px;
    margin: auto;
  }
  
  .header-nav__logo-container{
    max-width: 4rem;
  }
  
  .header-nav__logo{
    width: 100%;
    border-radius: 50%;
  }
  
  .header-nav__link-list{
    display: flex;
    gap: 0.5rem;
  }
  
  .header-nav__link-item{
    list-style: none;
    margin-right: 10px;
  }
  
  .header-nav__link-item:last-child{
    margin-right: 0;
  }
  
  .header-nav__link{
    text-decoration: none;
    color: #282c34;
    font-weight: bold;
    transition: 0.25s;
  }
  
  .header-nav__link:hover{
    color: aquamarine;
    border-bottom: 0.25rem solid gold;
  }
  
  .perfil{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
  }
  
  .perfil-container{
    padding: 1rem 2rem;
    max-width: 1024px;
    margin: 0 auto;
    font-weight: bold;
    align-items: center;
  }
  
  .perfil__info{
    display: block;
    gap: 1rem;
    padding: 1rem 0;
    top: 80%;
  }
  
  .perfil__info-title{
    margin: 0;
    color: #282c34;
  }
  
  .perfil__info-description{
    margin: 0;
    font-size: 0.8rem;
  }
  
  .perfil__info-link-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
  }
  
  .perfil__info-link{
    display: inline-block;
    background-color: aqua;
    border: 0.1rem solid aqua;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  transition: all 0.5s;
  }
  
  .perfil__info-link:hover{
    background-color: white;
  border: 0.1rem solid black;
  }
  
  .perfil__cover-image{
    display: flex;
    justify-content: center;
    max-width: 1024;
  }
  
  .perfil__cover-image-container{
    display: flex;
    max-width: 18rem;
    margin: auto;
    border: 0.25rem solid #20232a;
    border-radius: 25%;
  overflow: hidden;
  transition: all 0.5s;
  }
  
  .perfil__cover-image-container:hover{
  box-shadow: 0 0 0 0.5rem #282c34;
  }
  
  .perfil__image{
    width: 100%;
  }
  
  .experiencia{
    background-color: #282c34;
    color: white;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
  }
  
  .experiencia-container{
    max-width: 1024px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem 0;
  }
  
  .experiencia-title{
    margin: 0;
    font-size: 3rem;
    text-align: center;
  }
  
  .experiencia__experiencias{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .experiencia__date{
    margin: 0;
    color: aqua;
  }
  
  .experiencia__company{
    margin: 0;
    font-size: 1.5rem;
  }
  
  .experiencia__role{
    color: aqua;
    margin: 0;
    font-weight: 400;
  }
  
  .experiencia__activities{
    margin: 0;
    margin-top: 0.5rem;
    text-align: justify;
  }
  
  .experiencia__activity{
    list-style: square;
  }
  
  .wave-separetor{
  width: 100%;
  }
  
  .wave-separator__container{
  margin: 0;
  display: flex;
  }
  
  .wave-separator__container--r-180deg{
    transform: rotate(180deg);
    margin-top: -1px;
  }
  
  .wave-separetor__wave{
  width: 100%;
  }
  
  .skills{
    text-align: center;
    padding: 2rem 0;
    }
    
    .skills-container{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 0 2rem;
      margin: auto;
    max-width: 1024px;
    }
    
    .skills__title{
      text-align: center;
      margin: 0;
      font-size: 2rem;
    }
    
    .skills__skills-list{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      gap: 1rem;
      margin: 0;
      padding: 0;
    }
    
    .skills__skill{
      background-color: #282c34;
      color: white;
      border-radius: 00.25rem;
      padding: 0.5rem 1rem;
      font-weight: bold;
      transition: all 0.5s;
    }
    
    .skills__skill:hover{
      transform: scale(1.2);
      box-shadow: 0 0.25rem 0.5rem 0.125rem #ccc;
    }
    
    .contacto{
        text-align: center;
       padding: 2rem 0;
      }
      .contacto-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 2rem;
        margin: auto;
      max-width: 1024px;
      }
      
      .contacto__title{
        margin: 0;
        font-size: 2rem;
      }
      
      .contacto__form{
        display:flex;
      flex-direction: column;
      gap: 0.75rem;
      }
      
      .contacto__form-input{
        border: 0.20rem solid #282c34;
        border-radius: 0.5rem;
        padding: 0.75rem;
        transition: all 0.5s;
      }
      
      .contacto__form-input:hover{
        border: 0.25rem solid gold;
      }
      
      .contacto__form-buttom{
        align-self: center;
        background-color: aqua;
        border: 0.1rem solid aqua;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        text-decoration: none;
        color: black;
        font-weight: bold;
      transition: all 0.5s;
      }
      
      .contacto__form-buttom:hover{
        background-color: white;
        border: 0.1rem solid black;
      }
      