:root {
    --text-color: #fff;
    --primary-theme-color: #2a5298;
    --secondary-theme-color: #2959ac;
    --primary-theme-color-transparent: #2a529880;
    --highlight-color: gold;
    --button-color: transparent;
    --inverse-theme-color: #fff;
    --inverse-text-color: #2a5298;
    scroll-behavior: smooth;
  }

.body{
    font-family: 'Open Sans', sans-serif;
}

.header {}
.header-nav {}
.header-nav-container {}
.header-nav__logo-container {}
.header-nav__logo {}
.header-nav__menu-icon-container {}
.header-nav__menu-icon {}
.header-nav__link-list {}
.header-nav__link-item {}
.header-nav__link {}