.body {
    background-image: url(https://wallpapercave.com/wp/wp4923981.jpg);
    background-size: cover;
    background-position:center ;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.class {
    background-color: yellow;
}
