.body {
    background-image: url(https://wallpapercave.com/wp/wp4923981.jpg);
    background-size: cover;
    background-position:center ;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.class {
    background-color: yellow;
}

.header {
    display: flex;
    justify-content: center;
    }
    
    .header__container-imagen-personal{
        margin: 0;
    }
    
    .header__imagen-personal {
        width: 8.75rem;
        border-radius: 25%;
        margin-top: 2rem;
    }
    
    .main{
        background-color: hsla(224, 14%, 15%, 0.76);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 22.5rem;
        margin: 0 auto;
        padding: 0px 2rem;
        border-radius: 0.5rem;
    }
    
    .main__title,
    .main__keywords,
    .main__description,
    .skills__title {
    letter-spacing: 0.125rem;
    font-weight: normal;
    margin: 0;
    }
    
    .main__description{
        font-size: 0.75rem;
    }
    
    .skills{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .skills__title{
        font-size: 2rem;
    }
    
    .skills__skills-list{
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 0;
        margin: 0;
        transition: all 0.5s ease-in-out;
    }
    
    .skills__skills{
       list-style: none; 
       color: black;
       background-color: aqua;
       font-weight: bold;
       padding: 0.5rem;
       border-radius: 0.5rem;
    
    }
    
    .skills__skills:hover{
        background-color: white;
        
        }
    